{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
{% endblock %}

{% block Table %}
    <div>
        <form action="/create" method="post">
            {% if row %}
                <input type="hidden" name="identifier" value="{{row[0]}}"/>
                <label htmlFor="author">Author:</label>
                <input type="text" name="author" id="author" value="{{row[1]}}"/>
                <label htmlFor="title">Title:</label>
                <input type="text" name="title" id="title" value="{{row[2]}}"/>
                <label htmlFor="published">Published:</label>
                <input type="text" name="published" id="published" value="{{row[3]}}"/>
                <input type="submit" value="Save" />
            {% else %}
                <label htmlFor="author">Author:</label>
                <input type="text" name="author" id="author" />
                <label htmlFor="title">Title:</label>
                <input type="text" name="title" id="title" />
                <label htmlFor="published">Published:</label>
                <input type="text" name="published" id="published" />
                <input type="submit" value="Save" />
            {% endif %}
            
        </form>

    </div>
{% endblock %}