{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='booklist.css') }}">
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
{% endblock %}

{% block Table %}
    <table>
        <thead>
            <tr><th>Flight_number</th><th>Origin</th><th>Destination</th></tr>
        </thead>
        <tbody>
            <div class="book-table">
                {% for book in books %}
                    <tr>
                        <td>{{ book.flight_number }}</td>
                        <td>{{ book.origin }}</td>
                        <td>{{ book.destination }}</td>
                        <td><a href="{{ url_for('edit', id= book.id ) }}"><i class="material-icons">edit</i></a></td>
                        
                        <td><a href="{{ url_for('delete', id= book.id ) }}"><i class="material-icons">delete</i></a></td>  
                    </tr>
                {% endfor %}
            </div>
        </tbody>
    </table>
{% endblock %}
 