<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLibrary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="header">
        <ul class="header-left">
            <li class="logo"><a href="/">Airline Flights</a></li>
        </ul>

        <ul class="header-right">
            <li><a href="/create">Create</a></li>
            <li><a href="/">View</a></li>
        </ul>
    </div>

    {% block Table %} {% endblock %}
    
</body>
</html>